body {background-color: #f9f6f2;}
h1 {
    font-size: 44px;
    font-family: 'Radio Canada';
    text-align: center;
}
h2 {
    font-size: 36px;
    font-family: 'Radio Canada';
    text-align: center;
}
h3 {
    font-size: 28px;
    font-family: 'Radio Canada';
    text-align: center;
}
h4 {
    font-size: 24px;
    font-family: 'Radio Canada';
    text-align: center;
}
p {
    font-size: 20px;
    font-family: 'Radio Canada';
    text-align: center;
}
a {
    font-size: 20px;
    font-family: 'Radio Canada';
    text-align: center;
}
 /* The navigation bar */
 .navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a.nav {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
} 
