h1 {
    font-size: 44px;
    font-family: 'Outfit';
    text-align: center;
}
h2 {
    font-size: 36px;
    font-family: 'Outfit';
    text-align: center;
}
h3 {
    font-size: 28px;
    font-family: 'Outfit';
    text-align: center;
}
h3 {
    font-size: 24px;
    font-family: 'Outfit';
    text-align: center;
}
p {
    font-size: 20px;
    font-family: 'Outfit';
    text-align: center;
}